openapi: 3.0.0
info:
  title: SentinelOne
  description: Provides information contained in SentinelOne related to agents, applications and more".
  version: 'v1'
servers:
  - url: https://usea1-007.sentinelone.net
paths:
  /web/api/v2.1/agents:
    get:
      operationId: Get_Agent
      summary: Get Agent      
      parameters:
      - in: query
        name: ids
        schema:
          type: string
        required: true
        description: 'The Agent ID. Example: "225494730938493804".'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAgentResponse'

components:
  schemas:
    getAgentResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/agent'
    agent:
      type: object
      properties:
        accountName:
          type: string
          description: 'The Agent account name. Example: "MyAccount".'
        agentVersion:
          type: string
          description: 'The Agent version. Example: '
        computerName:
          type: string
          description: 'The Agent computer name. Example: "MyComputer".'
        isActive:
          type: boolean
          description: 'The Agent is active. Example: "true".'
        isDecommissioned:
          type: boolean
          description: 'The Agent is decommissioned. Example: "false".'
        isUpToDate:
          type: boolean
          description: 'The Agent is up to date. Example: "true".'
        lastLoggedInUserName:
          type: string
          description: 'The Agent last logged in user name. Example: "MyUser".'
        locations:
          type: array
          description: 'The Agent locations. Example: "MyLocation'
        osArch:
          type: string
          description: 'The Agent OS architecture. Example: "x64".'
        osName:
          type: string
          description: 'The Agent OS name. Example: "Windows".'
        osVersion:
          type: string
          description: 'The Agent OS version. Example: "10.0.19042".'
        osType:
          type: string
          description: 'The Agent OS type. Example: "Windows".' 
        osUsername:
          type: string
          description: 'The Agent OS username. Example: "MyUser".'
        id:
          type: string
          description: 'The Agent ID. Example: "225494730938493804".'
